<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="relato.app.dems.com.relato.beta">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DBPersistenceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_play"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".Service.Notification.MiFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.Notification.MiFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.Sounds.BackgroundSoundService"
            android:enabled="true" />
        <service
            android:name=".Service.Sounds.Random_start_game"
            android:enabled="true" />
        <service
            android:name=".View.Util.FloatingViewService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".View.Postear.PostFeed" />
        <activity android:name=".View.Util.AlertPopup.AlertPopup" />
        <activity
            android:name=".MenuCustomizeNow"
            android:label="@string/title_activity_menu_customize_now"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".View.Acceso.AccessRelato"
            android:screenOrientation="portrait" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        <activity
            android:name=".View.Acceso.RegisterRelato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Acceso.LoginRelato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Acceso.ForgetPasswordRelato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Details.DetailsRelato"
            android:screenOrientation="portrait"
            android:parentActivityName=".MenuCustomizeNow"
            android:theme="@style/AppTheme.TranslucentSystemBars">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCustomizeNow" />
        </activity>


        <activity
            android:name=".View.Details.BlogSingleActicity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Util.AlertPopup.Modal_Need_Try_Feature" />
        <activity
            android:name=".ssssssssss"
            android:label="@string/title_activity_ssssssssss"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.Util.AlertPopup.CheckUpdateVersionApp" />
        <activity android:name=".View.Util.VideoOnline" />
        <activity
            android:name=".View.Profile.Profile"
            android:label=""
            android:parentActivityName=".MenuCustomizeNow"
            android:theme="@style/AppTheme.TranslucentSystemBars">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCustomizeNow" />
        </activity>
        <activity android:name=".View.Util.AlertPopup.ModalCoinsNeeds" />
        <activity android:name=".View.Postear.RandomCoins" />
        <activity android:name=".View.splash.SplashActivity">

        </activity>
        <activity android:name=".View.Fragments.Details.DetailsBestHistory"
             android:parentActivityName=".MenuCustomizeNow"
             android:theme="@style/AppTheme.TranslucentSystemBars">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCustomizeNow" />
        </activity>
    </application>

</manifest>